/* component */
@import "./component/header.css";
@import "./component/time.css";
@import "./component/localname.css";
@import "./component/todo.css";
@import "./component/geo.css";
@import "./component/footer.css";

body {
  font-family: "Poor Story", cursive;
  font-family: "Roboto Condensed", sans-serif;
}
header > i {
  color: white;
}
