header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > i {
  position: relative;
  cursor: pointer;
  left: 15px;
}
header > i:hover {
  color: black;
}
header > p {
  position: relative;
  cursor: pointer;
  left: -15px;
}
